.login-container{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: rgba(255, 213, 158, 0.714);
  padding : 30px;
  margin-left: 30%;
  margin-top :3%;
  border-radius: 15px;
  box-shadow:0px 0px 15px grey;
}

.appartment-card{
  width : 500px;
  height: 400px;
  border-radius: 18px;
  background-color: rgba(255, 213, 158, 0.714);
}

.appartments-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}